@font-face {
    font-family: "Muli-Light";
    src: url("../fonts/Muli-Light.woff2") format("woff2"), url("../fonts/Muli-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Muli-Black";
    src: url("../fonts/Muli-Black.woff2") format("woff2"), url("../fonts/Muli-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Playfair-Black";
    src: url("../fonts/PlayfairDisplay-Black.woff2") format("woff2"),
        url("../fonts/PlayfairDisplay-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}
